@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

@import "tailwindcss";

@theme {
  --color-primary-green: #2BB673;
  --color-primary-blue: #0072CE;
  --color-text-dark: #1F2937;
  --color-text-secondary: #6B7280;
  --color-bg: #F8FAFC;
  --color-card: #FFFFFF;
  --color-border: #E5E7EB;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-error: #EF4444;

  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text-dark);
  font-family: var(--font-sans);
}

